.movie-image {
  aspect-ratio: 9/16;
  width: 100%;
  object-fit: cover;
}

.star-bottom {
  width: fit-content;
  z-index: 0;
}

.star-middle {
  height: 100%;
  background: white;
  z-index: 50;

}

.star-top {
  z-index: 100;

}

.bi-star {
  color: #be9310;
}

.image-cover {
  height: 300px;
}